<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
 </head>
 <body style="height:100vh;background:#4901DB;color:white;padding:50px;">
   <h1 style='text-align:center; color:white'>Thank you for your purchase <%= @name %>!</h1>

    <br />
   <h2 style='color:white'>Your Items</h2>
  <br/>
  <hr/>
  <br/>
   <% @products.each do |product| %>
    <h2  style=' display:inline-block;color:white'> <%= product['title'] %>  </h2>
    <h2 style='text-align:right; display:inline-block;color:white''> =>  $<%= product['price'] %> </h2>
    <h3 style='margin-top: 0;color:white' ><%= product['size'] %> </h3>
   <% end %>
   <br/>
  <hr/>
  <br/>
   <h1 style='margin-top: 0;color:white' >Your total was <%= @total %></h1>
 </body>
</html>
